<launch>
    <param name="debug_mode" value="true" />
    <param name="use_uart" value="true" />
    <param name="use_udp" value="false" />
    <param name="ctrl_mode" value="1" />
    <param name="port_num" value="0" />

    <node pkg="psdk" type="psdk_node" name="psdk_node" output="screen">
    </node>
</launch>